*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
    background-image: url(image.png);
    font-family: 'Poppins', sans-serif;
}
.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
    background: rgba(255, 255, 255, 0.2); /* Transparent white */
    backdrop-filter: blur(10px); /* Blurs the background */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

form{
    margin: 2rem 0 1rem 0;
}

form select,input,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.75rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container img{
    max-width: 2rem;
}

.select-container{
    display: flex;
    width: 6rem;
    border-radius: 0.5rem;
    border:1px solid lightgray ;
}
 
.select-container select{
    font-size: 1rem;
    width: auto;
}

.mas{
    margin:2rem 0 2rem 0 ;
}

form button{
    height: 3rem;
    background-color: #af4d98;
    color: white;
    font-size: 1.15rem;
    cursor: pointer;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    transition: transform 0.2s;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

i{
    cursor: pointer;
}